<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="projects/math216final.html" class="portfolio-box">
                    <img src="img/portfolio/plane.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science - R
                            </div>
                            <div class="project-name">
                                Airplane Crash and Mortality Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="projects/math116fixedcpi.html" class="portfolio-box">
                    <img src="img/portfolio/magittr.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science - R
                            </div>
                            <div class="project-name">
                                Cigarette Consumption Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="projects/Mini-Project_4.html" class="portfolio-box">
                    <img src="img/portfolio/baseball.jpeg" class="img-responsive" alt="" width="500" height="600">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science - R and SQL
                            </div>
                            <div class="project-name">
                                Baseball Hall of Fame Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="projects/math216_a7.html" class="portfolio-box">
                    <img src="img/portfolio/babyname.jpg" class="make-it-fit" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science - R and Animations
                            </div>
                            <div class="project-name">
                                Baby Name Analysis 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="projects/spatialdata_analysis.html" class="portfolio-box">
                    <img src="img/portfolio/hiking.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science - R and Spatial Data
                            </div>
                            <div class="project-name">
                                Trail Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="projects/babynames_analysis.html" class="portfolio-box">
                    <img src="img/portfolio/baby.png" class="img-responsive" alt="" width="500" height="600">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science - R
                            </div>
                            <div class="project-name">
                                Pretty Baby Name Graphic
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
